# Data Cleaning and EDA

In [6]:
# Import the required libraries
import pandas as pd
import numpy as np

In [10]:
# Functions for data cleaning

#  Functions for Duplicate checks 
def get_exact_dups(df):
    '''
    Returns duplicates
    '''
    dups = df[df.duplicated()]
    return dups

def get_tweet_dups(df, col_names):
    '''
    Returns duplicates based on given column name
    '''
    dups = df[df.duplicated(subset=col_names)]
    return dups

In [16]:
raw_data = pd.read_csv('../data/collected_tweets.csv')
print(raw_data.shape)
print(raw_data.info())
raw_data.head()

(37, 30)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 37 non-null     int64
 1   _id                        37 non-null     object
 2   created_at                 37 non-null     object
 3   id                         37 non-null     int64
 4   id_str                     37 non-null     int64
 5   full_text                  37 non-null     object
 6   truncated                  37 non-null     bool
 7   display_text_range         37 non-null     object
 8   metadata                   37 non-null     object
 9   source                     37 non-null     object
 10  in_reply_to_status_id      3 non-null      float64
 11  in_reply_to_status_id_str  3 non-null      float64
 12  in_reply_to_user_id        3 non-null      float64
 13  in_reply_to_user_id_str    3 non-null      float64
 14  in_reply_to_screen_name    3 non-null      object
 15  user                       37 non-null     object
 16  geo                        0 non-null      float64
 17  coordinates                0 non-null      float64
 18  place                      1 non-null      object
 19  contributors               0 non-null      float64
 20  is_quote_status            37 non-null     bool
 21  retweet_count              37 non-null     int64
 22  favorite_count             37 non-null     int64
 23  favorited                  37 non-null     bool
 24  retweeted                  37 non-null     bool
 25  lang                       37 non-null     object
 26  possibly_sensitive         33 non-null     object
 27  quoted_status_id           1 non-null      float64
 28  quoted_status_id_str       1 non-null      float64
 29  quoted_status              1 non-null      object
dtypes: bool(4), float64(9), int64(5), object(12)
memory usage: 7.8+ KB
None

,Unnamed: 0,_id,created_at,id,id_str,full_text,truncated,display_text_range,metadata,source,...,is_quote_status,retweet_count,favorite_count,favorited,retweeted,lang,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status
0,0,5ffce1024f712e7d75bd4c33,Mon Jan 11 22:29:34 +0000 2021,1348758980785438720,1348758980785438720,@L_D_Washington My district actually already h...,False,"[16, 195]","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",...,False,0,2,False,False,en,NaN,NaN,NaN,NaN
1,1,5ffce1024f712e7d75bd4c34,Mon Jan 11 19:05:29 +0000 2021,1348707622778675203,1348707622778675203,Interested in learning more about our #K12Onli...,False,"[0, 190]","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",...,False,0,0,False,False,en,False,NaN,NaN,NaN
2,2,5ffce1024f712e7d75bd4c35,Mon Jan 11 06:36:01 +0000 2021,1348519013186293761,1348519013186293761,#Russia #OnlineEducationMarket will be a $ 2.0...,False,"[0, 279]","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",...,False,2,0,False,False,en,False,NaN,NaN,NaN
3,3,5ffce1024f712e7d75bd4c36,Mon Jan 11 02:54:43 +0000 2021,1348463319045255170,1348463319045255170,Attendance is more difficult to track during t...,False,"[0, 220]","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",...,False,0,0,False,False,en,False,NaN,NaN,NaN
4,4,5ffce1024f712e7d75bd4c37,Mon Jan 11 01:52:22 +0000 2021,1348447629479473152,1348447629479473152,Over the weekend we have had 5 new cases of CO...,False,"[0, 266]","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",...,False,2,2,False,False,en,False,NaN,NaN,NaN

In [18]:
# Duplicate check and handling

# We do have EXACT duplicates?
exact_dups = get_exact_dups(raw_data)
print(len(exact_dups))

0

In [19]:
# Do we have duplicated tweets by id?
tweet_dups = get_tweet_dups(raw_data, ['id'])
print(len(tweet_dups))


print(tweet_dups['id'].unique())

print(tweet_dups['id'].unique().size)

0
[]
0

In [20]:
tweet_dups = get_tweet_dups(raw_data, ['full_text'])
print(len(tweet_dups))


print(tweet_dups['full_text'].unique())

print(tweet_dups['full_text'].unique().size)

0
[]
0